PythonCheatSheet.png
TNoTW_Prologue.pdf
altYTDownloader_Failed_.py
SI/
eBookPriceNotifier/booksInfo.json
eBookPriceNotifier/geckodriver.log
eBookPriceNotifier/info.json
eBookPriceNotifier/service_account.json
eBookPriceNotifier/tempCodeRunnerFile.py
eBookPriceNotifier/.config
eBookPriceNotifier/.vscode
eBookPriceNotifier/eBookPriceNotifier.py
__pycache__
.vscode
SeriesProgressBar/bookDataTest.json
SeriesProgressBar/PB_Formalized_Testing.ipynb
SeriesProgressBar/PB_Notebook_Testing.ipynb
SeriesProgressBar/ProgressBarPrototypes.py
SeriesProgressBar/README.md
SeriesProgressBar/service_account.json
SeriesProgressBar/__pycache__
.DS_Store
